* {
    border-radius: 0 !important;
    font-family: "Arial";
}

body {
    
}

.content {
    padding: 60px 80px 60px 80px;
}
.contentSides {
    padding: 0px 80px 0px 80px;
}

.navbar-default{
   border:none;
    height: 70px;
}
.button {
    background-color: #A2BCD2;
    font-size: 20px;
    display: block;
    width: 100%;
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
}

.button:focus,
.button:hover {
    background-color:#A2BCD2;
    color: White;
}

.imgText {
    color: white;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerImg{
    margin-top: -20px;
    padding-left: 0px;
    padding-right: 0px;
}

.grey {
    background-color: #f6f6f6;
}

.top-buffer {
    margin-top: 8px;
}

.bot-buffer {
    margin-bottom: 20px;
}

.navbar-default {
    background: #A2BCD2;
    border: none;
}


.main-text {
    margin-top: 5
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 70px;
  padding: 8px;
  width: auto;
}

.navbar-default .navbar-nav > li > a {
    color: #2B3439;
    font-size: 17px;
    margin-top: 9px;
}


/*Det her skal laves, quick fix til hjem selected?*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #2B3439;
    background-color: #A2BCD2;
}